[Unit]
Description=Publish public IP to a centralized server every hour

[Timer]
OnBootSec=5m
OnUnitInactiveSec=120m

[Install]
WantedBy=default.target
