[Unit]
Description=Public IP logger service

[Service]
Type=oneshot
StandardOutput=null
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/pub_ip_logger %h
